@keyframes scroll {
    0% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(calc(-500px * 3));
    }
}

.slider {
    height: 50vh;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: 960px;
}

.slider .slide-track {
    animation: scroll 7s linear infinite;
    display: flex;
    flex: 1 1 auto;
    flex-basis: 300px;
    width: calc(500px * 6);
}

.slider .slide {
    height: 50vh;
    width: 500px;
    max-width: 100vw;
    display: block;
}