@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;700&family=Roboto:wght@300;400;700&display=swap');

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;

    --blue-primary: #0097dd;
    --blue-variant: #0074b6;

    --orange-primary: #dd4600;
    --orange-variant: #c53800;

    --error-color: #b00020;
    --white-color: #f7f7f7;
    --black-color: #000000;
}

h1 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 80px;
    letter-spacing: -1.5px;
}

h2 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 300;
    font-size: 59px;
    letter-spacing: -0.5px;
}

h3 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 48px;
    letter-spacing: 0px;
}

h4 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 34px;
    letter-spacing: 0.25px;
}

h5 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0px;
}

h6 {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.15px;
}

html {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.5px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1.25px;
}

html {
    scroll-behavior: smooth;
    padding-bottom: 1rem;
    background-color: var(--white-color);
}

p {
    margin-top: 1rem;
}

img {
    width: 100%;
}

@media (max-width: 1000px) {
    h3 {
        font-size: 38px;
    }

    h6 {
        font-size: 1rem;
    }

    #about>section {
        padding-right: 2rem;
        padding-left: 1rem;
    }
}

@media (max-width: 800px) {
    h1 {
        font-size: 65px;
    }

    h3 {
        font-size: 30px;
    }

    #about>section {
        display: block !important;
        padding-right: 5rem;
        padding-left: 4rem;
    }
}

@media (max-width: 650px) {
    h1 {
        font-size: 50px;
        text-align: center;
    }

    h3 {
        text-align: center;
    }

    h6 {
        text-align: center;
    }

    #about>section {
        padding-right: 2rem;
        padding-left: 1rem;
    }

    p {
        text-align: justify;
    }
}

@media (max-width: 500px) {
    h3 {
        font-size: 25px;
    }

    #about>section {
        padding-right: 1rem;
        padding-left: 0rem;
    }
}